.book-catalog__no-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	max-width: 500px;
	text-align: center;
	margin: 10px auto 30px;

	svg {
		height: clamp(100px, 10vw, 150px);
	}

	p {
		font-family: 'Merriweather Sans', sans-serif;
		font-weight: 500;
		font-size: clamp(1.7rem, 1.3rem + 0.7vw, 2rem);
		line-height: 1.5;
	}
}
