.root-header-desktop-layout {
	padding: 0 3rem;
	gap: 15px;

	&__logo {
		height: 3rem;
	}

	&__navigation-actions {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__settings {
		display: flex;
		gap: 15px;
		margin-left: auto;
	}

	&__nav > ul {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
