.user-password-input-field {
	&__input {
		padding-right: 40px;
	}

	&__visibility-toggle-btn {
		position: absolute;
		right: 10px;
		top: 1.35rem;

		svg {
			width: 24px;
		}
	}

	&__reset-password-link {
		margin: 10px 0 0 auto;
		font:
			400 1.5rem 'Merriweather Sans',
			sans-serif;
	}
}
